$editor-left-grow: 1;
$editor-right-grow: 1;

$background-color: #303841;
$component-color: #3a4750;
$component-secondary-color: #3a4750;
$accent-color: #bbbbbb;
$text-color: #eeeeee;
$text-secondary-color: #11151a;

$dragdrop-border-color: #3e3e3e;
$dragdrop-background-color: #808080de;

$hover-component-color: #15191d;
$hover-accent-color: #9d9d9d;

$pen-controls-background-color: #d6d6d6;
$backdrop-color: #ffffffcc;

$editor-background-color: #ffffff;
