@import '@global/global.scss';

.wrapper {
    width: 500px;
    height: calc(100% - 20px);
    background-color: $component-color;
    margin: 10px;
    padding: 20px 0px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    .content {
        padding: 5px;
        width: 100%;
        height: 100%;
        margin: 2px;
        box-sizing: border-box;
        background-color: $component-secondary-color;
        overflow-x: hidden;
        img {
            width: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
    

    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px 10px gray;
        border-left: solid 10px transparent;
        border-top: solid 3px transparent;
        border-bottom: solid 3px transparent;
        border-right: solid 3px transparent;
    }
    .moveButton {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid black;
        min-width: 0px !important;
        padding: 0px !important;
        @media (max-width: 800px)  {
            width: 20px;
            height: 20px;
            font-size: 10px;
        }
    }

    @media (max-width: 800px)  {
        width: 400px;
        padding: 0px;
        margin: 0px;
    }
    @media (max-width: 550px)  {
        width: 100%;    
    }
}

.hideScrollBar {
    overflow-y: hidden;
}

.schowScrollBar {
    overflow-y: auto;
}
