@import '@global/global.scss';

.wrapper {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: solid 1px $accent-color;
    border-radius: 0;
    color: $text-color;
    display: block;
    font-size: 12px;
    outline: none;
    padding: 5px 8px;
    font-size: 20px;
    background-color: $component-color;
    width: 110px;
    position: relative;
    .currentItem {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    .items {
        position: absolute;
        left: 0px;
        display: none;
        width: 100%;
        &:hover {
            display: block;
            z-index: 2;
        }
        span {
            margin-left: auto;
            margin-right: auto;
            border: none;
            border-bottom: solid 1px $accent-color;
            border-radius: 0;
            color: $text-color;
            display: block;
            font-size: 12px;
            outline: none;
            padding: 5px 8px;
            font-size: 20px;
            background-color: $component-color;
        }
        span:hover {
            background-color: $hover-component-color;
            cursor: pointer;
        }
    }
    .currentItem:hover + .items {
        display: block;
        z-index: 2;
    }
}
