@import '@global/global.scss';

.wrapper {
    input[type='file'] {
        display: none;
    }

    display: flex;
    padding: 6px 12px;
    background-color: $accent-color;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    color: $text-secondary-color;
    font-size: 20px;
    cursor: pointer;
    justify-content: space-around;
    &:hover{
        background-color: $hover-accent-color;
    }
}
