@import '@global/global.scss';

.wrapper {
    margin: 20px 20px 20px 50px;
    padding: 10px;
    flex-grow: $editor-left-grow;
    flex-basis: 0;
    // border: solid 1px $accent-color;
    background-color: $component-color;
    .buttonStyle {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    .dropdownStyle {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
}
